@import url("https://fonts.googleapis.com/css2?family=Stack+Sans+Notch:wght@200..700&display=swap");

@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Medium.woff")
    format("woff");
  font-weight: 500;
  font-display: swap;
}
body {
  position: relative;
  background-color: #000;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  overflow: hidden;
  margin: 0;
  padding: 7.04vh 3.125vw 4.62vh;
  color: #e1e1e1;
  line-height: 1.35;
  letter-spacing: -0.03rem;
}

.webImage {
  position: absolute;
  width: 100vw;
  height: auto;
  top: 0;
  left: 0;
  opacity: 0.5;
  z-index: -1;
  // display: none;
}

.d-day > div {
  //   position: absolute;
  display: flex;
  width: 93.9%;
  margin: 0 auto;
}

.delight {
  font-size: clamp(1rem, 1.25vw, 1.5rem);
  justify-content: center;
  text-align: center;
}

.logo {
  justify-content: center;
  padding-top: 2vh;
  svg {
    width: 34.45vw;
    path {
      fill: #e1e1e1;
    }
    rect {
      fill: #e1e1e1;
    }
  }
}

.object {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0 auto;
  justify-content: center;
  z-index: 0;
}

.info {
  position: absolute;
  color: rgba(225, 225, 225, 0.3);
  font-size: clamp(0.85rem, 0.73vw, 1.1rem);
  justify-content: space-between;
  bottom: 4.72vh;
  p {
    margin: 0;
  }

  p:first-child {
    text-align: left;
  }
  p:nth-child(2) {
    text-align: center;
  }
  p:last-child {
    text-align: right;
  }
}

.countDown {
  position: absolute;
  font-family: "Stack Sans Notch", "Pretendard", sans-serif;
  font-size: clamp(2rem, 8.31vw, 11rem);
  font-weight: 300;
  justify-content: center;
  //   padding-top: 52vh;
  bottom: 7vh;
}

.countDown-segment {
  display: flex;
  align-items: baseline;
}

.countDown-colon {
  margin-left: 0.5vw;
  color: inherit;
}

@media (max-width: 640px) {
  body {
    padding: 3.82vh 5.09vw;
  }

  .d-day {
    width: 89.82%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .d-day > div {
    justify-content: center;
  }

  .delight {
    font-size: 3.09vw;
    padding-top: 4vh;
  }

  .logo {
    padding-top: 1.5vh;
    svg {
      width: 76.42vw;
    }
  }

    .object {
      width: 100%;
      transform: translate(-50%, -60%);
    }

  .countDown {
    position: absolute;
    bottom: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14.59vw;
    letter-spacing: 0.02em;
    bottom: 26.5vh;
  }

  .countDown-colon {
    margin-left: 1vw;
  }

  .info {
    position: absolute;
    height: 92.36%;
    margin: auto 0;
    display: block;
    font-size: 2.04vw;
    p {
      position: absolute;
      margin: 0;
    }
    p:first-child {
      top: 0;
      left: 0;
    }
    p:last-child {
      top: 0;
      right: 0;
    }
    p:nth-child(2) {
      bottom: 18vh;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}
